html {
    font-size: 62.5%;
}

body {
    background: #E9EDF1;
    font-size: 1.6em;
}

body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pic {
    width: 500px;
}

.imgContainer {
  border: black solid;
  width: 500px;
  height: 300px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* fade in effect every time user selects a new date */
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

h1 {
    font-size: 3rem;
    padding: 3rem;
}

#pic p + p {
    margin: 1rem 0;
}
/* <div id="pic" class="fade-in">

<a href="${x.url}"><img src="${x.url}"></a>
            <h2>${x.title}</h2>
            <p>${x.date}<p>
            <p>${x.explanation}</p>

</div> */